/* Quietly vibrant */

:root {
	--color-primary: #175bd2;
	--color-secondary: #2579dd;
	--color-third: #3082e4;
	--color-text: #333;
	--font-primary: 'Helvetica', Arial, sans-serif;
}

*, * :before, * :after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	padding-top: 30px;
	background-color: #eee;
	font-family: var(--font-primary);
	text-align: center;
	font-size: 18px;
	line-height: 1.4;
	color: var(--color-text);
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	cursor: default;

	@media (min-width: 1100px) {
		font-size: 20px;
	}
	@media (min-width: 1200px) {
		font-size: 22px;
	}
}

a {
	color: var(--color-primary);
	text-decoration: underline;

	&:hover, &.selected {
		color: var(--color-third);
	}
	&:visited:hover {
		color: var(--color-secondary);
	}
}
h1, h2, h3 {
	margin-bottom: 10px;
	color: var(--color-primary);
	font-family: var(--font-primary);
	font-weight: 500;

	@media (min-width: 600px) {
		margin-bottom: 18px;
	}

	& a {
		text-decoration: none;
		color: var(--color-primary);
	}
}

h1 {
	font-size: 30px;
	color: var(--color-primary);

	@media (min-width: 600px) {
		font-size: 36px;
	}
}
h2 {
	font-size: 24px;

	@media (min-width: 600px) {
		font-size: 28px;
	}
}
h3 {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;

	@media (min-width: 600px) {
		font-size: 24px;
	}
}

p {
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width: 600px) {
		margin-bottom: 18px;
	}
}

ul, ol {
	list-style: none;
	padding: 0;
}
ul {
	list-style: disc;
	margin-left: 30px;

	& li {
		margin-bottom: 10px;
	}
}

em {
	font-style: italic;
}
strong {
	font-weight: 600;
}

hr {
	margin: 30px 0;
	border: 0;
	height: 1px;
	background-color: rgba(51, 51, 51, 0.2);
}

/* Grid layout */

main.container {
	margin-inline: auto;
	margin-bottom: 30px;
	max-width: 70ch;

	@media (max-width: 740px) {
		width: 100%;
		padding: 0 20px;
	}
}

section {
	margin-bottom: 20px;
	text-align: left;

	@media (max-width: 740px) {
		width: 100%;
	}
}

section.note {
	margin-inline: auto;
	max-width: 59.5ch;
}

.row {
	@media (min-width: 480px) {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 1fr auto;
	}

	& > div {
		margin-bottom: 20px;

		@media (min-width: 480px) {
			margin-bottom: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (min-width: 480px) {
	.col-2, .col-3, .col-4, .col-5, .col-6, .col-7 { grid-column: auto / span 6; }
	.col-8, .col-9, .col-10, .col-11, .col-12 { grid-column: auto / span 12; }

	.row {
		div {
			margin-bottom: 0;
		}
	}
}
@media (min-width: 800px) {
	.col-2 { grid-column: auto / span 2; }
	.col-3 { grid-column: auto / span 3; }
	.col-4 { grid-column: auto / span 4; }
	.col-6 { grid-column: auto / span 6; }
	.col-7 { grid-column: auto / span 7; }
	.col-8 { grid-column: auto / span 8; }
	.col-9 { grid-column: auto / span 9; }
	.col-10 { grid-column: auto / span 10; }
	.col-11 { grid-column: auto / span 11; }
	.col-12 { grid-column: auto / span 12; }
}

/* Buttons */

.btn-main, input[type="submit"], button, .btn-main:focus, input[type="submit"]:focus, button:focus {
	display: inline-block;
	position: relative;
	margin: 0;
	border-radius: 50px;
	border: 1px solid var(--color-primary);
	border-bottom: 2px solid var(--color-primary);
	background-clip: padding;
	box-sizing: border-box;
	background-color: var(--color-secondary);
	padding: 10px 16px;
	color: #fff;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	font-size: 18px;
	line-height: 1;
	font-weight: 400;
	vertical-align: middle;
}
.btn-main:hover, input[type="submit"]:hover, button:hover {
	background-color: var(--color-third);
	color: #fff !important;
}

.btn-main.fill {
	width: 100%;
	text-align: left;
}
.btn-main.fill:after {
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	width: 18px;
	height: 18px;
	background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 18 18'><g><path fill='white' transform='matrix(3.82857e-16,-1,1,3.82857e-16,5.31088,15.7)' d='M0.327,0.152C1.119,-0.36 1.873,0.537 2.458,1.132L7.021,5.756L11.584,1.117C12.17,0.522 12.861,-0.162 13.508,0.152C14.155,0.466 14.098,1.117 13.716,1.458L8.087,7.18C7.802,7.47 7.426,7.622 7.021,7.622C6.616,7.622 6.241,7.454 5.955,7.18L0.327,1.473C0.041,1.168 -0.237,0.703 0.327,0.152Z'></path></g></svg>");
}

/* Utilities */

.block-component {
	text-align: left;
}

.box {
	border-radius: 10px;
	background-color: #fff;
	padding: 20px;

	&.box-image {
		border: 0;
		padding: 0;
		overflow: hidden;
	}
}

.caption {
	text-align: center;
	font-size: 15px;
	font-style: italic;
}

.fill {
	width: 100%;
}
img.fill {
	display: block;
	margin: 0;
	border-radius: 10px;
	width: 100%;
	height: auto;
}

/* Profile header */

header.profile {
	position: relative;
	width: 100%;
	text-align: center;

	& p {
		margin: 0 auto;
		margin-bottom: 20px;

		@media (min-width: 600px) {
			width: 75%;
		}
	}
	& h1 {
		margin-bottom: 0;
		font-size: 24px;
	}

	.avatar {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		border-radius: 100%;
		width: 90px;
		height: 90px;
		background-color: #ccc;
		overflow: hidden;
	}

	.menu {
		display: inline-block;
		margin-left: 0;

		& > li {
			display: inline-block;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

/* Follow footer */

footer {
	padding-bottom: 30px;
	text-align: center;

	& p {
		margin: 0 auto;

		@media (min-width: 600px) {
			width: 75%;
		}
	}
}

/* Listings */

.link-listing {
	display: inline-block;
	position: relative;
	margin-bottom: 20px;
	width: 100%;

	& .text {
		display: inline-block;
		width: 100%;
		vertical-align: middle;

		@media (min-width: 480px) {
			width: auto;
		}

		& p {
			margin-bottom: 10px;

			@media (min-width: 480px) {
				margin-bottom: 0;
			}
		}
	}

	& .btn-main {
		@media (min-width: 480px) {
			float: right;
			margin-top: 3px;
		}
	}
}

.button-listing {
	margin: 0 auto;
	margin-bottom: 20px;
	width: 100%;

	@media (min-width: 600px) {
		width: 50%;
	}
}

.product-listing {
	img {
		width: 75%;

		@media (min-width: 480px) {
			width: 100%;
		}
	}

	& .one-col {
		@media (min-width: 480px) {
			.col-2, .col-3, .col-4, .col-5, .col-6, .col-7 { grid-column: auto / span 4; }
			.col-8, .col-9, .col-10, .col-11, .col-12 { grid-column: auto / span 8; }
		}
		@media (min-width: 600px) {
			.col-2 { grid-column: auto / span 2; }
			.col-3 { grid-column: auto / span 3; }
			.col-4 { grid-column: auto / span 4; }
			.col-6 { grid-column: auto / span 6; }
			.col-7 { grid-column: auto / span 7; }
			.col-8 { grid-column: auto / span 8; }
			.col-9 { grid-column: auto / span 9; }
			.col-10 { grid-column: auto / span 10; }
			.col-11 { grid-column: auto / span 11; }
			.col-12 { grid-column: auto / span 12; }
		}
	}

	& .two-col {
		img {
			@media (min-width: 480px) {
				width: 75%;
			}
			@media (min-width: 600px) {
				width: 50%;
			}
			@media (min-width: 1100px) {
				width: 100%;
			}
		}

		@media (min-width: 480px) {
			.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { grid-column: auto / span 12; }
		}

		@media (min-width: 1100px) {
			.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { grid-column: auto / span 6; }
		}
	}
}

/* Article */

article {
	margin-bottom: 20px;
	border-radius: 10px;
	width: 100%;
	background-color: #fff;
	padding: 20px;
	font-size: 20px;
	text-align: left;
	line-height: 1.4;
	overflow: hidden;

	@media (min-width: 600px) {
		border-radius: 20px;
		padding: 60px 80px;
	}
}

blockquote {
	margin-bottom: 20px;

	& p {
		margin-bottom: 0;
		font-size: 24px;

		@media (min-width: 600px) {
			font-size: 28px;
		}

		&::before {
			content: '“';
		}
		&::after {
			content: '”';
		}
	}
	& cite {
		&::before {
			content: '— ';
		}
	}
}

/* Forms */

form input, form textarea, form select {
	margin: 5px 0;
	border: #ccc 1px solid;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 9px 12px;
	font-family: var(--font-primary);
	font-size: 18px;
	color: #666;
	font-weight: 100;
	vertical-align: middle;
}
form input:focus, form textarea:focus, form select:focus {
	border: #555 1px solid;
	outline: none;
	color: #333;
}
form input.highlight, form textarea.highlight, form select.highlight {
	border: #e24535 1px solid;
}